input,
button,
select {
  border-radius: 7px;
}

button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 1px;
  left: 1px;
}

.error {
  color: red;
}

body {
  background-color: #bbb;
  font-family: "Trebuchet MS";
}

#dropdown {
  padding: 3px 3px;
}